# Ignore everything
**

# Specify allowed files and directories

!./app
!./bin
!./build
!./certs
!./config/default.cfg
!./config/dev.cfg
!./config/pipeline.cfg
!./config/example.cfg
!./config/jsdoc.json
!./doc
!./mbee.js
#!./node_modules
!./package.json
!./plugins/routes.js
!./*.md
!./scripts
!./test
!./yarn.lock
!./Dockerfile
!./Dockerfile-build
!./docker-entrypoint.sh
