# EditorConfig: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

# JavaScript and JSON
[*.{js,json}]
indent_size = 2

# JSX
[*.jsx]
indent_size = 2

# JSON-like files
[{.eslintrc,*.cfg}]
indent_size = 2

# HTML and HTML-templates
[*.{html,ejs}]
indent_size = 2

# CSS and CSS Preprocessors
[*.{sass,css}]
indent_size = 2

