<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.about
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license MIT
 *
 * @description The about page that describes what MBEE is and its members.
 */
 %>

<div class="container about-top">
  <h3>About MBEE</h3>

  <p>
    <b>Version:</b> <%= info.version%>
  </p>

  <p>The Model-Based Engineering Environment or MBEE is modeling collaboration tool
    that integrates system models with multidisciplinary engineering data to enable
    the system model to be a single-source of truth project data. It makes model
    data more accessible via a web-based user interface (UI) for ease of use across
    disciplines and skill sets within an organization. MBEE provides a web-based UI
    for team members to interact with system model data without needing to be a
    systems modeler themselves.</p>

  <p>The goal of MBEE is to better communicate data across engineering organizations
    by implementing the core goals of model-based systems engineering through
    software tools. MBEE decreases ambiguity by making a single-source of truth for
    data more achievable through its RESTful API, extensible plugins, and
    distributed services.</p>
</div>
