<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.home
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license MIT
 *
 * @description This page renders the MBEE home page by grabbing the javascript
 * after being compiled by the home-page.jsx file.
 */
 %>
<div id="main" class="view"></div>

<%- contentFor('scripts') %>
<script type="text/javascript" src="/js/home-app.js"></script>
