<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.home
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license MIT
 *
 * @description The MBEE home page
 */
 %>
<div id="view" class="view"></div>

<script type="text/javascript" src="/react-js/home-page.js"></script>
