<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.login
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license MIT
 *
 * @description The "login" page members log in from.
 */
%>

<div id="main">
  <div id="view" class="view">
    <div class="container" style="max-width: 450px;" onkeypress="triggerModal(event)">
      <% if (err.length) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert"
           style="position: fixed; top: 100px; left: 50%; transform: translateX(-50%);">
        <%= err[0] %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <form id="login-form" action="/login" method="POST" >
        <div class="form-group" >
          <label for="username">Username</label>
          <input id="username" name="username" type="text" class="form-control"
                 aria-describedby="usernameHelp" placeholder="Enter your username ...">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input id="password" name="password" type="password" class="form-control"  placeholder="Enter your password ...">
        </div>
        <div class="form-group">
          <input id="next" name="next" type="hidden" class="form-control"  value="<%= next %>">
        </div>
        <button type="button" class="btn btn-primary" onclick="doLogin();">
          Login
        </button>
      </form>
    </div>
  </div>
</div>

<%
// This script contains the doLogin() function which submits the form
// data to the login API and then uses the retrieved token with a
// redirect to the home page.
%>
<script>
  function triggerModal(e) {
    if (e.keyCode == 13) {
      doLogin();
    }
  }
  function doLogin() {
    $('#login-form').submit();
  }
</script>
