<%
/**
 * Classification: UNCLASSIFIED
 *
 * @module views.organizations
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license MIT
 *
 * @description This page renders the organizations page.
 */
%>
<div id="main"></div>

<%- contentFor('scripts') %>
<script type="text/javascript" src="/react-js/organizations.js"></script>
