<%
/**
 * @classification UNCLASSIFIED
 *
 * @module views.profile
 *
 * @copyright Copyright (C) 2018, Lockheed Martin Corporation
 *
 * @license MIT
 *
 * @owner James Eckstein
 *
 * @author Leah De Laurell
 *
 * @description This page renders the profile page by grabbing the javascript
 * after being compiled by the profile-app.jsx file.
 */
%>
<div id="main"></div>

<%- contentFor('scripts') %>
<script type="text/javascript" src="/js/profile-app.js"></script>
